.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc( 100vh - 100px);
    background-color: #f1f1f1;


}
.login-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) ;
    font-family: sans-serif;
}

.login-panel__header{
    font-size:  32px;
}

.login-panel__content{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.login-panel__content label{
    font-size: 14px;
}

.login-panel__content input{
    height: 24px;
    font-size: 18px;
    padding: 5px;
    background-origin: none;
    border-bottom: 1px solid rgba(0,0,0,0.16);
    margin-bottom: 10px;
}

.btnEntrar{
    height: 30px;
    font-size: 18px;
    border: none;
    background-color: rgb(91, 180, 131);
    color: #ffffff;
    border-radius: 5px;
    outline: none;
}

.btnEntrar:hover,
.btnEntrar:active{
    background-color: rgba(40, 180, 131);
}
